/* ------ GLOBAL ------ CSS */

/* Background color */

body{
    background-color: #F5F7FA;
}

/* Styling for navbar */
.navbar-brand {
    padding-top: 20px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 12px;
    color: #494949;
    margin-left: 60%;
    padding-top: 31px;
}

.nav-link:hover {
    color: #F1B872;
}

/* Id for left side of logo */
.logo1 {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
    color: #D69341;
    float: left;
}

/* Id for right side of logo */
.logo2 {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: #2E6698;

}

/* Size for back and exit button */
#ex {
    width: 15px;
}

/* Font styling for page title */
.pageTitle {
    font-size: 25px;
    line-height: 29px;
    color: #494949;
    margin-top: 50px;
}

/* Determining width of the container for main content */
.container {
    width: 95%;
}

/* Get rid of border on the card */
.card {
    border-style: none;
}

/* Styling for container within the card */
.formContainer {
    margin: 10px;
}

/* Styling of font for form title */
.formTitle {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 19px;
    line-height: 17px;
}

/* Styling for form line */
hr {
    border: .5px solid #A5A5A5;
    margin-top: 4px;
}



/* ------ LOGIN PAGE CSS ------*/

/* Styling for logo font and spacing */
#logo {
    font-family: forma-djr-micro, sans-serif;
    text-align: center;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 50px;
}

/* Id for left side of logo */
#logo1-lg {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 200;
    font-style: italic;
    color: #D69341;
    float: left;
    font-size: 45px;
}

/* Id for right side of logo */
#logo2-lg {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #2E6698;
    font-size: 45px;
}

/* Styling of font for form input */
#userId,
#userPass {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    border-style: none;
    background: none;
    font-size: 19px;
    line-height: 17px;
}

/* Spacing for password section */
#passwordForm {
    margin-top: 50px;
}

/* Forgot password font styling */
#password {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
}

/* Spacing for login button */
#loginButton {
    margin-top: 50px;
}

/* Styling for font and palcement of the login button */
.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #D69341;
    border-style: none;
    margin: 0 auto;
    display: flex;
}

/* Setting styling for the hover state of the lgoin button */
.btn:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #F1B872;
}

/* Styling for font and spacing of the privacy policy link */
#privacyPolicy {
    text-align: center;
    margin-top: 30px;
}

/* Styling for link to privacy policy */
#privacyLink {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
}




/* ------ MAIN-MENU PAGE CSS ------*/

/* Font styling and spacing for lot address */
#lotLocation {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 19px;
    line-height: 17px;
    margin-top: 10px;
}

/* Spacing for main menu table card */
#mainMenuForm {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Font styling and spacing for the table title */
#table-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #494949;
    font-size: 19px;
    line-height: 17px;
    padding-bottom: 30px;
}

/* Green dot styling */
.dotG {
    height: 10px;
    width: 10px;
    background-color: #7EBA74;
    border-radius: 50%;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: -3px;

}

/* Red dot styling */
/* .dotR {
    height: 10px;
    width: 10px;
    background-color: #D04747;
    border-radius: 50%;
    display: inline-block;
    padding-right: 10px;
} */

/* Styling for font of name */
#tableName {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    font-size: 19px;
    line-height: 17px;
}

/* Styling for font of DL */
#tableDL {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 16px;
    line-height: 12px;
    margin-top: 10px;
}

/* Spacing for line break */
#statusLine {
    padding-top: 20px;
    padding-bottom: 10px;
}

.row {
    position: relative;
}

/* Check In button styling */
#checkInButton {
    padding-right: 5px;
    padding-left: 5px;   
    font-family: 'Roboto', sans-serif;
    background-color: #D69341;
    color: white;
    border-style: none;
    position: absolute;
    margin-left: 294px;
    bottom: 1px;
}

/* Check Out button styling */
/* #checkOutButton {
    background-color: #2E6698;
    position: absolute;
    margin-left: 294px;
    bottom: 1px;
} */

/* Spacing for both buttons */
#mainButtons {
    text-align: center;
    margin-top: 30px;
}

/* Map card */
#locationCard {
    margin-top: 50px;
}




/* ------ CHECK IN FORM PAGE CSS ------*/

/* Card container spacing */
#picCard {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Image upload input */
.input-group {
    margin-top: 30px;
    color: white;
}

/* Image upload input */
.form-control {
    border-style: none;
}

/* Image upload input button */
.input-group-btn {
    margin-left: 30%;
}

/* Spacing for container the picture is in */
#picContainer {
    padding: 0px;
}

/* Spacing for the group the picture and button are in */
#formGroup {
    margin-bottom: 30px;
}

/* Image upload button styling */
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Image width */
#img-upload{
    width: 100%;
}

/* Font for form input */
#firstNameInput,
#lastNameInput,
#plateInput,
#vinInput {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    border-style: none;
    background: none;
    font-size: 19px;
    line-height: 17px;
}

/* Spacing for above the first form section */
#firstNameForm {
    margin-top: 20px;
}

/* Spacing for above each form section */
#lastNameForm,
#plateForm,
#makeForm,
#modelForm {
    margin-top: 50px;
}

/* Spacing for the button */
#formButton {
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Spacing of card container */
#checkInCard {
    margin-bottom: 50px;
}




/* ------ VERIFIED PAGE CSS ------*/

/* Font styling and placement for title */
#verifiedTitle {
    font-size: 25px;
    line-height: 29px;
    color: #494949;
    margin-top: 50px;
    text-align: center;   
}


/* ------ VERIFIED PAGE CSS ------*/

/* Spacing for card container */
#checkOutForm {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Font styling and spacing for driver name */
#name {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    background: none;
    font-size: 19px;
    line-height: 17px;
}

#nameSpace {
    margin-top: 50px;
}

/* Font styling and spacing for driver id */
#driverId {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 19px;
    line-height: 17px;
    margin-top: 10px;
}

/* Spacing for the name and id section */
#info {
    margin-top: 25px;
}

/* Font styling for output titles */
#dlTitle,
#vinTitle,
#plateTitle,
#yearTitle,
#makeTitle,
#modelTitle {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    background: none;
    font-size: 16px;
    line-height: 22px;
}

/* Font styling for output answers */
#dlAnswer,
#vinAnswer,
#plateAnswer,
#yearAnswer,
#makeAnswer,
#modelAnswer {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 16px;
    line-height: 22px;  
}

/* Styling for the section holding titles and answers */
#checkInInfo {
    margin-top: 50px;
}

/* Font styling for title for date and time */
#dateTitle,
#timeTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #494949;
    background: none;
    font-size: 19px;
    line-height: 22px;
}

/* Font styling for answer for date and time */
#dateAnswer,
#timeAnswer {
    font-family: 'Roboto', sans-serif;
    color: #A5A5A5;
    font-size: 19px;
    line-height: 22px;  
}

/* Styling for the section holding date and time */
#checkInAnswers {
    margin-top: 10px;
}

/* Width and spacing of exit icon */
#imageUpload {
    width: 100%;
    margin-top: 25px;
}

/* Placement of exit icon */
.group:after {
    content: "";
    display: table;
    clear: both;
  }

/* Size of check mark */
#checkMark {
    width: 50px;
}

/* Font styling and spacing of text */
#complete {
    font-size: 25px;
    line-height: 29px;
    color: #494949;
    margin-top: 50px;
    text-align: center; 
    margin-bottom: 50px;
}




/* ------ CHECK OUT PROFILE PAGE CSS ------*/

/* Spacing for prrofile card */
#profileCard {
    margin-bottom: 30px;
}

/* Comments input font styling */
#comments {
    font-family: 'Roboto', sans-serif;
    color: #494949;
    border-style: none;
    background: none;
    font-size: 16px;
    line-height: 22px;
}

/* Check Out button styling */
#checkOutBtn {
    background-color: #2E6698;
    display: inline-block;
}

/* Spacing for both buttons */
#buttonSection {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}